UyumsoftEInvoiceLive/Connected Services/Despatch/BasicDespatchIntegration1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2" elementFormDefault="qualified" targetNamespace="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://efatura.uyumsoft.com.tr/Services/BasicDespatchIntegration?xsd=xsd4" namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" />
  <xs:element name="OrderReference" type="tns:OrderReferenceType" />
  <xs:complexType name="OrderReferenceType">
    <xs:sequence>
      <xs:element xmlns:q1="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q1:ID" />
      <xs:element xmlns:q2="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q2:SalesOrderID" />
      <xs:element xmlns:q3="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q3:IssueDate" />
      <xs:element xmlns:q4="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q4:OrderTypeCode" />
      <xs:element minOccurs="0" maxOccurs="1" name="DocumentReference" type="tns:DocumentReferenceType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocumentReferenceType">
    <xs:sequence>
      <xs:element xmlns:q5="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q5:ID" />
      <xs:element xmlns:q6="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q6:IssueDate" />
      <xs:element xmlns:q7="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q7:DocumentTypeCode" />
      <xs:element xmlns:q8="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q8:DocumentType" />
      <xs:element xmlns:q9="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="unbounded" ref="q9:DocumentDescription" />
      <xs:element minOccurs="0" maxOccurs="1" name="Attachment" type="tns:AttachmentType" />
      <xs:element minOccurs="0" maxOccurs="1" name="ValidityPeriod" type="tns:PeriodType" />
      <xs:element minOccurs="0" maxOccurs="1" name="IssuerParty" type="tns:PartyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AttachmentType">
    <xs:sequence>
      <xs:element xmlns:q10="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q10:EmbeddedDocumentBinaryObject" />
      <xs:element minOccurs="0" maxOccurs="1" name="ExternalReference" type="tns:ExternalReferenceType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExternalReferenceType">
    <xs:sequence>
      <xs:element xmlns:q11="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q11:URI" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PeriodType">
    <xs:sequence>
      <xs:element xmlns:q12="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q12:StartDate" />
      <xs:element xmlns:q13="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q13:StartTime" />
      <xs:element xmlns:q14="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q14:EndDate" />
      <xs:element xmlns:q15="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q15:EndTime" />
      <xs:element xmlns:q16="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q16:DurationMeasure" />
      <xs:element xmlns:q17="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q17:Description" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyType">
    <xs:sequence>
      <xs:element xmlns:q18="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q18:WebsiteURI" />
      <xs:element xmlns:q19="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q19:EndpointID" />
      <xs:element xmlns:q20="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q20:IndustryClassificationCode" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PartyIdentification" type="tns:PartyIdentificationType" />
      <xs:element minOccurs="0" maxOccurs="1" name="PartyName" type="tns:PartyNameType" />
      <xs:element minOccurs="0" maxOccurs="1" name="PostalAddress" type="tns:AddressType" />
      <xs:element minOccurs="0" maxOccurs="1" name="PhysicalLocation" type="tns:LocationType" />
      <xs:element minOccurs="0" maxOccurs="1" name="PartyTaxScheme" type="tns:PartyTaxSchemeType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PartyLegalEntity" type="tns:PartyLegalEntityType" />
      <xs:element minOccurs="0" maxOccurs="1" name="Contact" type="tns:ContactType" />
      <xs:element minOccurs="0" maxOccurs="1" name="Person" type="tns:PersonType" />
      <xs:element minOccurs="0" maxOccurs="1" name="AgentParty" type="tns:PartyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyIdentificationType">
    <xs:sequence>
      <xs:element xmlns:q21="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q21:ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyNameType">
    <xs:sequence>
      <xs:element xmlns:q22="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q22:Name" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element xmlns:q23="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q23:ID" />
      <xs:element xmlns:q24="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q24:Postbox" />
      <xs:element xmlns:q25="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q25:Room" />
      <xs:element xmlns:q26="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q26:StreetName" />
      <xs:element xmlns:q27="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q27:BlockName" />
      <xs:element xmlns:q28="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q28:BuildingName" />
      <xs:element xmlns:q29="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q29:BuildingNumber" />
      <xs:element xmlns:q30="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q30:CitySubdivisionName" />
      <xs:element xmlns:q31="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q31:CityName" />
      <xs:element xmlns:q32="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q32:PostalZone" />
      <xs:element xmlns:q33="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q33:Region" />
      <xs:element xmlns:q34="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q34:District" />
      <xs:element minOccurs="0" maxOccurs="1" name="Country" type="tns:CountryType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CountryType">
    <xs:sequence>
      <xs:element xmlns:q35="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q35:IdentificationCode" />
      <xs:element xmlns:q36="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q36:Name" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LocationType">
    <xs:sequence>
      <xs:element xmlns:q37="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q37:ID" />
      <xs:element minOccurs="0" maxOccurs="1" name="Address" type="tns:AddressType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyTaxSchemeType">
    <xs:sequence>
      <xs:element xmlns:q38="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q38:RegistrationName" />
      <xs:element xmlns:q39="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q39:CompanyID" />
      <xs:element minOccurs="0" maxOccurs="1" name="TaxScheme" type="tns:TaxSchemeType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxSchemeType">
    <xs:sequence>
      <xs:element xmlns:q40="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q40:ID" />
      <xs:element xmlns:q41="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q41:Name" />
      <xs:element xmlns:q42="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q42:TaxTypeCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyLegalEntityType">
    <xs:sequence>
      <xs:element xmlns:q43="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q43:RegistrationName" />
      <xs:element xmlns:q44="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q44:CompanyID" />
      <xs:element xmlns:q45="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q45:RegistrationDate" />
      <xs:element xmlns:q46="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q46:SoleProprietorshipIndicator" />
      <xs:element xmlns:q47="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q47:CorporateStockAmount" />
      <xs:element xmlns:q48="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q48:FullyPaidSharesIndicator" />
      <xs:element minOccurs="0" maxOccurs="1" name="CorporateRegistrationScheme" type="tns:CorporateRegistrationSchemeType" />
      <xs:element minOccurs="0" maxOccurs="1" name="HeadOfficeParty" type="tns:PartyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CorporateRegistrationSchemeType">
    <xs:sequence>
      <xs:element xmlns:q49="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q49:ID" />
      <xs:element xmlns:q50="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q50:Name" />
      <xs:element xmlns:q51="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q51:CorporateRegistrationTypeCode" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JurisdictionRegionAddress" type="tns:AddressType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ContactType">
    <xs:sequence>
      <xs:element xmlns:q52="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q52:ID" />
      <xs:element xmlns:q53="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q53:Name" />
      <xs:element xmlns:q54="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q54:Telephone" />
      <xs:element xmlns:q55="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q55:Telefax" />
      <xs:element xmlns:q56="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q56:ElectronicMail" />
      <xs:element xmlns:q57="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q57:Note" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OtherCommunication" type="tns:CommunicationType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CommunicationType">
    <xs:sequence>
      <xs:element xmlns:q58="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q58:ChannelCode" />
      <xs:element xmlns:q59="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q59:Channel" />
      <xs:element xmlns:q60="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q60:Value" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonType">
    <xs:sequence>
      <xs:element xmlns:q61="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q61:FirstName" />
      <xs:element xmlns:q62="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q62:FamilyName" />
      <xs:element xmlns:q63="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q63:Title" />
      <xs:element xmlns:q64="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q64:MiddleName" />
      <xs:element xmlns:q65="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q65:NameSuffix" />
      <xs:element xmlns:q66="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q66:NationalityID" />
      <xs:element minOccurs="0" maxOccurs="1" name="FinancialAccount" type="tns:FinancialAccountType" />
      <xs:element minOccurs="0" maxOccurs="1" name="IdentityDocumentReference" type="tns:DocumentReferenceType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FinancialAccountType">
    <xs:sequence>
      <xs:element xmlns:q67="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q67:ID" />
      <xs:element xmlns:q68="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q68:CurrencyCode" />
      <xs:element xmlns:q69="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q69:PaymentNote" />
      <xs:element minOccurs="0" maxOccurs="1" name="FinancialInstitutionBranch" type="tns:BranchType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BranchType">
    <xs:sequence>
      <xs:element xmlns:q70="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q70:Name" />
      <xs:element minOccurs="0" maxOccurs="1" name="FinancialInstitution" type="tns:FinancialInstitutionType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FinancialInstitutionType">
    <xs:sequence>
      <xs:element xmlns:q71="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q71:Name" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdditionalDocumentReference" type="tns:DocumentReferenceType" />
  <xs:element name="Signature" type="tns:SignatureType" />
  <xs:complexType name="SignatureType">
    <xs:sequence>
      <xs:element xmlns:q72="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q72:ID" />
      <xs:element minOccurs="0" maxOccurs="1" name="SignatoryParty" type="tns:PartyType" />
      <xs:element minOccurs="0" maxOccurs="1" name="DigitalSignatureAttachment" type="tns:AttachmentType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DespatchSupplierParty" type="tns:SupplierPartyType" />
  <xs:complexType name="SupplierPartyType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Party" type="tns:PartyType" />
      <xs:element minOccurs="0" maxOccurs="1" name="DespatchContact" type="tns:ContactType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeliveryCustomerParty" type="tns:CustomerPartyType" />
  <xs:complexType name="CustomerPartyType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Party" type="tns:PartyType" />
      <xs:element minOccurs="0" maxOccurs="1" name="DeliveryContact" type="tns:ContactType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BuyerCustomerParty" type="tns:CustomerPartyType" />
  <xs:element name="SellerSupplierParty" type="tns:SupplierPartyType" />
  <xs:element name="OriginatorCustomerParty" type="tns:CustomerPartyType" />
  <xs:element name="Shipment" type="tns:ShipmentType" />
  <xs:complexType name="ShipmentType">
    <xs:sequence>
      <xs:element xmlns:q73="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q73:ID" />
      <xs:element xmlns:q74="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q74:HandlingCode" />
      <xs:element xmlns:q75="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q75:HandlingInstructions" />
      <xs:element xmlns:q76="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q76:GrossWeightMeasure" />
      <xs:element xmlns:q77="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q77:NetWeightMeasure" />
      <xs:element xmlns:q78="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q78:GrossVolumeMeasure" />
      <xs:element xmlns:q79="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q79:NetVolumeMeasure" />
      <xs:element xmlns:q80="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q80:TotalGoodsItemQuantity" />
      <xs:element xmlns:q81="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q81:TotalTransportHandlingUnitQuantity" />
      <xs:element xmlns:q82="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q82:InsuranceValueAmount" />
      <xs:element xmlns:q83="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q83:DeclaredCustomsValueAmount" />
      <xs:element xmlns:q84="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q84:DeclaredForCarriageValueAmount" />
      <xs:element xmlns:q85="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q85:DeclaredStatisticsValueAmount" />
      <xs:element xmlns:q86="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q86:FreeOnBoardValueAmount" />
      <xs:element xmlns:q87="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="unbounded" ref="q87:SpecialInstructions" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GoodsItem" type="tns:GoodsItemType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShipmentStage" type="tns:ShipmentStageType" />
      <xs:element minOccurs="0" maxOccurs="1" name="Delivery" type="tns:DeliveryType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TransportHandlingUnit" type="tns:TransportHandlingUnitType" />
      <xs:element minOccurs="0" maxOccurs="1" name="ReturnAddress" type="tns:AddressType" />
      <xs:element minOccurs="0" maxOccurs="1" name="FirstArrivalPortLocation" type="tns:LocationType" />
      <xs:element minOccurs="0" maxOccurs="1" name="LastExitPortLocation" type="tns:LocationType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsItemType">
    <xs:sequence>
      <xs:element xmlns:q88="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q88:ID" />
      <xs:element xmlns:q89="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="unbounded" ref="q89:Description" />
      <xs:element xmlns:q90="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q90:HazardousRiskIndicator" />
      <xs:element xmlns:q91="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q91:DeclaredCustomsValueAmount" />
      <xs:element xmlns:q92="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q92:DeclaredForCarriageValueAmount" />
      <xs:element xmlns:q93="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q93:DeclaredStatisticsValueAmount" />
      <xs:element xmlns:q94="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q94:FreeOnBoardValueAmount" />
      <xs:element xmlns:q95="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q95:InsuranceValueAmount" />
      <xs:element xmlns:q96="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q96:ValueAmount" />
      <xs:element xmlns:q97="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q97:GrossWeightMeasure" />
      <xs:element xmlns:q98="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q98:NetWeightMeasure" />
      <xs:element xmlns:q99="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q99:ChargeableWeightMeasure" />
      <xs:element xmlns:q100="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q100:GrossVolumeMeasure" />
      <xs:element xmlns:q101="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q101:NetVolumeMeasure" />
      <xs:element xmlns:q102="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q102:Quantity" />
      <xs:element xmlns:q103="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q103:RequiredCustomsID" />
      <xs:element xmlns:q104="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q104:CustomsStatusCode" />
      <xs:element xmlns:q105="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q105:CustomsTariffQuantity" />
      <xs:element xmlns:q106="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q106:CustomsImportClassifiedIndicator" />
      <xs:element xmlns:q107="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q107:ChargeableQuantity" />
      <xs:element xmlns:q108="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q108:ReturnableQuantity" />
      <xs:element xmlns:q109="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q109:TraceID" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Item" type="tns:ItemType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FreightAllowanceCharge" type="tns:AllowanceChargeType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InvoiceLine" type="tns:InvoiceLineType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Temperature" type="tns:TemperatureType" />
      <xs:element minOccurs="0" maxOccurs="1" name="OriginAddress" type="tns:AddressType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MeasurementDimension" type="tns:DimensionType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemType">
    <xs:sequence>
      <xs:element xmlns:q110="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q110:Description" />
      <xs:element xmlns:q111="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q111:Name" />
      <xs:element xmlns:q112="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q112:Keyword" />
      <xs:element xmlns:q113="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q113:BrandName" />
      <xs:element xmlns:q114="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q114:ModelName" />
      <xs:element minOccurs="0" maxOccurs="1" name="BuyersItemIdentification" type="tns:ItemIdentificationType" />
      <xs:element minOccurs="0" maxOccurs="1" name="SellersItemIdentification" type="tns:ItemIdentificationType" />
      <xs:element minOccurs="0" maxOccurs="1" name="ManufacturersItemIdentification" type="tns:ItemIdentificationType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdditionalItemIdentification" type="tns:ItemIdentificationType" />
      <xs:element minOccurs="0" maxOccurs="1" name="OriginCountry" type="tns:CountryType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CommodityClassification" type="tns:CommodityClassificationType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ItemInstance" type="tns:ItemInstanceType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemIdentificationType">
    <xs:sequence>
      <xs:element xmlns:q115="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q115:ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CommodityClassificationType">
    <xs:sequence>
      <xs:element xmlns:q116="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q116:ItemClassificationCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemInstanceType">
    <xs:sequence>
      <xs:element xmlns:q117="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q117:ProductTraceID" />
      <xs:element xmlns:q118="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q118:ManufactureDate" />
      <xs:element xmlns:q119="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q119:ManufactureTime" />
      <xs:element xmlns:q120="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q120:BestBeforeDate" />
      <xs:element xmlns:q121="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q121:RegistrationID" />
      <xs:element xmlns:q122="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q122:SerialID" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdditionalItemProperty" type="tns:ItemPropertyType" />
      <xs:element minOccurs="0" maxOccurs="1" name="LotIdentification" type="tns:LotIdentificationType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemPropertyType">
    <xs:sequence>
      <xs:element xmlns:q123="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q123:ID" />
      <xs:element xmlns:q124="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q124:Name" />
      <xs:element xmlns:q125="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q125:NameCode" />
      <xs:element xmlns:q126="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q126:TestMethod" />
      <xs:element xmlns:q127="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q127:Value" />
      <xs:element xmlns:q128="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q128:ValueQuantity" />
      <xs:element xmlns:q129="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="unbounded" ref="q129:ValueQualifier" />
      <xs:element xmlns:q130="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q130:ImportanceCode" />
      <xs:element xmlns:q131="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="unbounded" ref="q131:ListValue" />
      <xs:element minOccurs="0" maxOccurs="1" name="UsabilityPeriod" type="tns:PeriodType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ItemPropertyGroup" type="tns:ItemPropertyGroupType" />
      <xs:element minOccurs="0" maxOccurs="1" name="RangeDimension" type="tns:DimensionType" />
      <xs:element minOccurs="0" maxOccurs="1" name="ItemPropertyRange" type="tns:ItemPropertyRangeType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemPropertyGroupType">
    <xs:sequence>
      <xs:element xmlns:q132="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q132:ID" />
      <xs:element xmlns:q133="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q133:Name" />
      <xs:element xmlns:q134="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q134:ImportanceCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DimensionType">
    <xs:sequence>
      <xs:element xmlns:q135="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q135:AttributeID" />
      <xs:element xmlns:q136="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q136:Measure" />
      <xs:element xmlns:q137="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="unbounded" ref="q137:Description" />
      <xs:element xmlns:q138="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q138:MinimumMeasure" />
      <xs:element xmlns:q139="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q139:MaximumMeasure" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemPropertyRangeType">
    <xs:sequence>
      <xs:element xmlns:q140="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q140:MinimumValue" />
      <xs:element xmlns:q141="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q141:MaximumValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LotIdentificationType">
    <xs:sequence>
      <xs:element xmlns:q142="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q142:LotNumberID" />
      <xs:element xmlns:q143="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q143:ExpiryDate" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdditionalItemProperty" type="tns:ItemPropertyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AllowanceChargeType">
    <xs:sequence>
      <xs:element xmlns:q144="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q144:ChargeIndicator" />
      <xs:element xmlns:q145="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q145:AllowanceChargeReason" />
      <xs:element xmlns:q146="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q146:MultiplierFactorNumeric" />
      <xs:element xmlns:q147="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q147:SequenceNumeric" />
      <xs:element xmlns:q148="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q148:Amount" />
      <xs:element xmlns:q149="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q149:BaseAmount" />
      <xs:element xmlns:q150="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q150:PerUnitAmount" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InvoiceLineType">
    <xs:sequence>
      <xs:element xmlns:q151="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q151:ID" />
      <xs:element xmlns:q152="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="unbounded" ref="q152:Note" />
      <xs:element xmlns:q153="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q153:InvoicedQuantity" />
      <xs:element xmlns:q154="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q154:LineExtensionAmount" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderLineReference" type="tns:OrderLineReferenceType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DespatchLineReference" type="tns:LineReferenceType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReceiptLineReference" type="tns:LineReferenceType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Delivery" type="tns:DeliveryType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AllowanceCharge" type="tns:AllowanceChargeType" />
      <xs:element minOccurs="0" maxOccurs="1" name="TaxTotal" type="tns:TaxTotalType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WithholdingTaxTotal" type="tns:TaxTotalType" />
      <xs:element minOccurs="0" maxOccurs="1" name="Item" type="tns:ItemType" />
      <xs:element minOccurs="0" maxOccurs="1" name="Price" type="tns:PriceType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SubInvoiceLine" type="tns:InvoiceLineType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrderLineReferenceType">
    <xs:sequence>
      <xs:element xmlns:q155="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q155:LineID" />
      <xs:element xmlns:q156="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q156:SalesOrderLineID" />
      <xs:element xmlns:q157="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q157:UUID" />
      <xs:element xmlns:q158="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q158:LineStatusCode" />
      <xs:element minOccurs="0" maxOccurs="1" name="OrderReference" type="tns:OrderReferenceType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LineReferenceType">
    <xs:sequence>
      <xs:element xmlns:q159="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q159:LineID" />
      <xs:element xmlns:q160="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q160:LineStatusCode" />
      <xs:element minOccurs="0" maxOccurs="1" name="DocumentReference" type="tns:DocumentReferenceType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DeliveryType">
    <xs:sequence>
      <xs:element xmlns:q161="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q161:ID" />
      <xs:element xmlns:q162="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q162:Quantity" />
      <xs:element xmlns:q163="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q163:ActualDeliveryDate" />
      <xs:element xmlns:q164="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q164:ActualDeliveryTime" />
      <xs:element xmlns:q165="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q165:LatestDeliveryDate" />
      <xs:element xmlns:q166="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q166:LatestDeliveryTime" />
      <xs:element xmlns:q167="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q167:TrackingID" />
      <xs:element minOccurs="0" maxOccurs="1" name="DeliveryAddress" type="tns:AddressType" />
      <xs:element minOccurs="0" maxOccurs="1" name="AlternativeDeliveryLocation" type="tns:LocationType" />
      <xs:element minOccurs="0" maxOccurs="1" name="EstimatedDeliveryPeriod" type="tns:PeriodType" />
      <xs:element minOccurs="0" maxOccurs="1" name="CarrierParty" type="tns:PartyType" />
      <xs:element minOccurs="0" maxOccurs="1" name="DeliveryParty" type="tns:PartyType" />
      <xs:element minOccurs="0" maxOccurs="1" name="Despatch" type="tns:DespatchType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeliveryTerms" type="tns:DeliveryTermsType" />
      <xs:element minOccurs="0" maxOccurs="1" name="Shipment" type="tns:ShipmentType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DespatchType">
    <xs:sequence>
      <xs:element xmlns:q168="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q168:ID" />
      <xs:element xmlns:q169="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q169:ActualDespatchDate" />
      <xs:element xmlns:q170="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q170:ActualDespatchTime" />
      <xs:element xmlns:q171="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q171:Instructions" />
      <xs:element minOccurs="0" maxOccurs="1" name="DespatchAddress" type="tns:AddressType" />
      <xs:element minOccurs="0" maxOccurs="1" name="DespatchParty" type="tns:PartyType" />
      <xs:element minOccurs="0" maxOccurs="1" name="Contact" type="tns:ContactType" />
      <xs:element minOccurs="0" maxOccurs="1" name="EstimatedDespatchPeriod" type="tns:PeriodType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DeliveryTermsType">
    <xs:sequence>
      <xs:element xmlns:q172="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q172:ID" />
      <xs:element xmlns:q173="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q173:SpecialTerms" />
      <xs:element xmlns:q174="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q174:Amount" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxTotalType">
    <xs:sequence>
      <xs:element xmlns:q175="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q175:TaxAmount" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TaxSubtotal" type="tns:TaxSubtotalType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxSubtotalType">
    <xs:sequence>
      <xs:element xmlns:q176="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q176:TaxableAmount" />
      <xs:element xmlns:q177="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q177:TaxAmount" />
      <xs:element xmlns:q178="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q178:CalculationSequenceNumeric" />
      <xs:element xmlns:q179="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q179:TransactionCurrencyTaxAmount" />
      <xs:element xmlns:q180="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q180:Percent" />
      <xs:element xmlns:q181="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q181:BaseUnitMeasure" />
      <xs:element xmlns:q182="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q182:PerUnitAmount" />
      <xs:element minOccurs="0" maxOccurs="1" name="TaxCategory" type="tns:TaxCategoryType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxCategoryType">
    <xs:sequence>
      <xs:element xmlns:q183="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q183:Name" />
      <xs:element xmlns:q184="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q184:TaxExemptionReasonCode" />
      <xs:element xmlns:q185="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q185:TaxExemptionReason" />
      <xs:element minOccurs="0" maxOccurs="1" name="TaxScheme" type="tns:TaxSchemeType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PriceType">
    <xs:sequence>
      <xs:element xmlns:q186="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q186:PriceAmount" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TemperatureType">
    <xs:sequence>
      <xs:element xmlns:q187="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q187:AttributeID" />
      <xs:element xmlns:q188="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q188:Measure" />
      <xs:element xmlns:q189="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="unbounded" ref="q189:Description" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ShipmentStageType">
    <xs:sequence>
      <xs:element xmlns:q190="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q190:ID" />
      <xs:element xmlns:q191="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q191:TransportModeCode" />
      <xs:element xmlns:q192="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q192:TransportMeansTypeCode" />
      <xs:element xmlns:q193="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q193:TransitDirectionCode" />
      <xs:element xmlns:q194="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="unbounded" ref="q194:Instructions" />
      <xs:element minOccurs="0" maxOccurs="1" name="TransitPeriod" type="tns:PeriodType" />
      <xs:element minOccurs="0" maxOccurs="1" name="TransportMeans" type="tns:TransportMeansType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DriverPerson" type="tns:PersonType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransportMeansType">
    <xs:sequence>
      <xs:element xmlns:q195="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q195:JourneyID" />
      <xs:element xmlns:q196="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q196:RegistrationNationalityID" />
      <xs:element xmlns:q197="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="unbounded" ref="q197:RegistrationNationality" />
      <xs:element xmlns:q198="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q198:DirectionCode" />
      <xs:element xmlns:q199="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q199:TransportMeansTypeCode" />
      <xs:element xmlns:q200="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q200:TradeServiceCode" />
      <xs:element minOccurs="0" maxOccurs="1" name="Stowage" type="tns:StowageType" />
      <xs:element minOccurs="0" maxOccurs="1" name="AirTransport" type="tns:AirTransportType" />
      <xs:element minOccurs="0" maxOccurs="1" name="RoadTransport" type="tns:RoadTransportType" />
      <xs:element minOccurs="0" maxOccurs="1" name="RailTransport" type="tns:RailTransportType" />
      <xs:element minOccurs="0" maxOccurs="1" name="MaritimeTransport" type="tns:MaritimeTransportType" />
      <xs:element minOccurs="0" maxOccurs="1" name="OwnerParty" type="tns:PartyType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MeasurementDimension" type="tns:DimensionType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StowageType">
    <xs:sequence>
      <xs:element xmlns:q201="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q201:LocationID" />
      <xs:element xmlns:q202="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="unbounded" ref="q202:Location" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MeasurementDimension" type="tns:DimensionType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AirTransportType">
    <xs:sequence>
      <xs:element xmlns:q203="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q203:AircraftID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RoadTransportType">
    <xs:sequence>
      <xs:element xmlns:q204="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q204:LicensePlateID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RailTransportType">
    <xs:sequence>
      <xs:element xmlns:q205="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q205:TrainID" />
      <xs:element xmlns:q206="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q206:RailCarID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MaritimeTransportType">
    <xs:sequence>
      <xs:element xmlns:q207="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q207:VesselID" />
      <xs:element xmlns:q208="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q208:VesselName" />
      <xs:element xmlns:q209="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q209:RadioCallSignID" />
      <xs:element xmlns:q210="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="unbounded" ref="q210:ShipsRequirements" />
      <xs:element xmlns:q211="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q211:GrossTonnageMeasure" />
      <xs:element xmlns:q212="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q212:NetTonnageMeasure" />
      <xs:element minOccurs="0" maxOccurs="1" name="RegistryCertificateDocumentReference" type="tns:DocumentReferenceType" />
      <xs:element minOccurs="0" maxOccurs="1" name="RegistryPortLocation" type="tns:LocationType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransportHandlingUnitType">
    <xs:sequence>
      <xs:element xmlns:q213="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q213:ID" />
      <xs:element xmlns:q214="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q214:TransportHandlingUnitTypeCode" />
      <xs:element xmlns:q215="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q215:HandlingCode" />
      <xs:element xmlns:q216="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q216:HandlingInstructions" />
      <xs:element xmlns:q217="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q217:HazardousRiskIndicator" />
      <xs:element xmlns:q218="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q218:TotalGoodsItemQuantity" />
      <xs:element xmlns:q219="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q219:TotalPackageQuantity" />
      <xs:element xmlns:q220="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="unbounded" ref="q220:DamageRemarks" />
      <xs:element xmlns:q221="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q221:TraceID" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ActualPackage" type="tns:PackageType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TransportEquipment" type="tns:TransportEquipmentType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TransportMeans" type="tns:TransportMeansType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HazardousGoodsTransit" type="tns:HazardousGoodsTransitType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MeasurementDimension" type="tns:DimensionType" />
      <xs:element minOccurs="0" maxOccurs="1" name="MinimumTemperature" type="tns:TemperatureType" />
      <xs:element minOccurs="0" maxOccurs="1" name="MaximumTemperature" type="tns:TemperatureType" />
      <xs:element minOccurs="0" maxOccurs="1" name="FloorSpaceMeasurementDimension" type="tns:DimensionType" />
      <xs:element minOccurs="0" maxOccurs="1" name="PalletSpaceMeasurementDimension" type="tns:DimensionType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShipmentDocumentReference" type="tns:DocumentReferenceType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomsDeclaration" type="tns:CustomsDeclarationType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PackageType">
    <xs:sequence>
      <xs:element xmlns:q222="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q222:ID" />
      <xs:element xmlns:q223="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q223:Quantity" />
      <xs:element xmlns:q224="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q224:ReturnableMaterialIndicator" />
      <xs:element xmlns:q225="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q225:PackageLevelCode" />
      <xs:element xmlns:q226="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q226:PackagingTypeCode" />
      <xs:element xmlns:q227="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="unbounded" ref="q227:PackingMaterial" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContainedPackage" type="tns:PackageType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GoodsItem" type="tns:GoodsItemType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MeasurementDimension" type="tns:DimensionType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransportEquipmentType">
    <xs:sequence>
      <xs:element xmlns:q228="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q228:ID" />
      <xs:element xmlns:q229="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q229:TransportEquipmentTypeCode" />
      <xs:element xmlns:q230="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q230:Description" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HazardousGoodsTransitType">
    <xs:sequence>
      <xs:element xmlns:q231="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q231:TransportEmergencyCardCode" />
      <xs:element xmlns:q232="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q232:PackingCriteriaCode" />
      <xs:element xmlns:q233="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q233:HazardousRegulationCode" />
      <xs:element xmlns:q234="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q234:InhalationToxicityZoneCode" />
      <xs:element xmlns:q235="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q235:TransportAuthorizationCode" />
      <xs:element minOccurs="0" maxOccurs="1" name="MaximumTemperature" type="tns:TemperatureType" />
      <xs:element minOccurs="0" maxOccurs="1" name="MinimumTemperature" type="tns:TemperatureType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomsDeclarationType">
    <xs:sequence>
      <xs:element xmlns:q236="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q236:ID" />
      <xs:element minOccurs="0" maxOccurs="1" name="IssuerParty" type="tns:PartyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DespatchLine" type="tns:DespatchLineType" />
  <xs:complexType name="DespatchLineType">
    <xs:sequence>
      <xs:element xmlns:q237="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q237:ID" />
      <xs:element xmlns:q238="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="unbounded" ref="q238:Note" />
      <xs:element xmlns:q239="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q239:DeliveredQuantity" />
      <xs:element xmlns:q240="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q240:OutstandingQuantity" />
      <xs:element xmlns:q241="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="unbounded" ref="q241:OutstandingReason" />
      <xs:element xmlns:q242="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q242:OversupplyQuantity" />
      <xs:element minOccurs="0" maxOccurs="1" name="OrderLineReference" type="tns:OrderLineReferenceType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DocumentReference" type="tns:DocumentReferenceType" />
      <xs:element minOccurs="0" maxOccurs="1" name="Item" type="tns:ItemType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Shipment" type="tns:ShipmentType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DespatchDocumentReference" type="tns:DocumentReferenceType" />
  <xs:element name="ReceiptLine" type="tns:ReceiptLineType" />
  <xs:complexType name="ReceiptLineType">
    <xs:sequence>
      <xs:element xmlns:q243="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q243:ID" />
      <xs:element xmlns:q244="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="unbounded" ref="q244:Note" />
      <xs:element xmlns:q245="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q245:ReceivedQuantity" />
      <xs:element xmlns:q246="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q246:ShortQuantity" />
      <xs:element xmlns:q247="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q247:RejectedQuantity" />
      <xs:element xmlns:q248="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q248:RejectReasonCode" />
      <xs:element xmlns:q249="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="unbounded" ref="q249:RejectReason" />
      <xs:element xmlns:q250="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q250:OversupplyQuantity" />
      <xs:element xmlns:q251="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q251:ReceivedDate" />
      <xs:element xmlns:q252="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q252:TimingComplaintCode" />
      <xs:element xmlns:q253="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" minOccurs="0" maxOccurs="1" ref="q253:TimingComplaint" />
      <xs:element minOccurs="0" maxOccurs="1" name="OrderLineReference" type="tns:OrderLineReferenceType" />
      <xs:element minOccurs="0" maxOccurs="1" name="DespatchLineReference" type="tns:LineReferenceType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DocumentReference" type="tns:DocumentReferenceType" />
      <xs:element minOccurs="0" maxOccurs="1" name="Item" type="tns:ItemType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Shipment" type="tns:ShipmentType" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>